<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>CRM_Servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>RoleAddServlet</display-name>
		<servlet-name>RoleAddServlet</servlet-name>
		<servlet-class>com.practice1.role.servlet.RoleAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleAddServlet</servlet-name>
		<url-pattern>/RoleAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RoleDeleteServlet</display-name>
		<servlet-name>RoleDeleteServlet</servlet-name>
		<servlet-class>com.practice1.role.servlet.RoleDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleDeleteServlet</servlet-name>
		<url-pattern>/RoleDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RoleEditServlet</display-name>
		<servlet-name>RoleEditServlet</servlet-name>
		<servlet-class>com.practice1.role.servlet.RoleEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleEditServlet</servlet-name>
		<url-pattern>/RoleEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RoleShowServlet</display-name>
		<servlet-name>RoleShowServlet</servlet-name>
		<servlet-class>com.practice1.role.servlet.RoleShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleShowServlet</servlet-name>
		<url-pattern>/RoleShowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RoleUpdateServlet</display-name>
		<servlet-name>RoleUpdateServlet</servlet-name>
		<servlet-class>com.practice1.role.servlet.RoleUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoleUpdateServlet</servlet-name>
		<url-pattern>/RoleUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DepartmentAddServlet</display-name>
		<servlet-name>DepartmentAddServlet</servlet-name>
		<servlet-class>com.practice1.department.servlet.DepartmentAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartmentAddServlet</servlet-name>
		<url-pattern>/DepartmentAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DepartmentDeleteServlet</display-name>
		<servlet-name>DepartmentDeleteServlet</servlet-name>
		<servlet-class>com.practice1.department.servlet.DepartmentDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartmentDeleteServlet</servlet-name>
		<url-pattern>/DepartmentDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DepartmentEditServlet</display-name>
		<servlet-name>DepartmentEditServlet</servlet-name>
		<servlet-class>com.practice1.department.servlet.DepartmentEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartmentEditServlet</servlet-name>
		<url-pattern>/DepartmentEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DepartmentShowServlet</display-name>
		<servlet-name>DepartmentShowServlet</servlet-name>
		<servlet-class>com.practice1.department.servlet.DepartmentShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartmentShowServlet</servlet-name>
		<url-pattern>/DepartmentShowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DepartmentUpdateServlet</display-name>
		<servlet-name>DepartmentUpdateServlet</servlet-name>
		<servlet-class>com.practice1.department.servlet.DepartmentUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartmentUpdateServlet</servlet-name>
		<url-pattern>/DepartmentUpdateServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.practice1.filter.servlet.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>UserLoginServlet</display-name>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>com.practice1.user.servlet.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserShowServlet</display-name>
		<servlet-name>UserShowServlet</servlet-name>
		<servlet-class>com.practice1.user.servlet.UserShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserShowServlet</servlet-name>
		<url-pattern>/UserShowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ExitUserServlet</display-name>
		<servlet-name>ExitUserServlet</servlet-name>
		<servlet-class>com.practice1.user.servlet.ExitUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExitUserServlet</servlet-name>
		<url-pattern>/ExitUserServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.practice1.filter.servlet.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>DepartmentDescServlet</display-name>
		<servlet-name>DepartmentDescServlet</servlet-name>
		<servlet-class>com.practice1.department.servlet.DepartmentDescServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartmentDescServlet</servlet-name>
		<url-pattern>/DepartmentDescServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserDescServlet</display-name>
		<servlet-name>UserDescServlet</servlet-name>
		<servlet-class>com.practice1.user.servlet.UserDescServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDescServlet</servlet-name>
		<url-pattern>/UserDescServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserAddServlet</display-name>
		<servlet-name>UserAddServlet</servlet-name>
		<servlet-class>com.practice1.user.servlet.UserAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserAddServlet</servlet-name>
		<url-pattern>/UserAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserDeleteServlet</display-name>
		<servlet-name>UserDeleteServlet</servlet-name>
		<servlet-class>com.practice1.user.servlet.UserDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserDeleteServlet</servlet-name>
		<url-pattern>/UserDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserEditServlet</display-name>
		<servlet-name>UserEditServlet</servlet-name>
		<servlet-class>com.practice1.user.servlet.UserEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserEditServlet</servlet-name>
		<url-pattern>/UserEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UserUpdateServlet</display-name>
		<servlet-name>UserUpdateServlet</servlet-name>
		<servlet-class>com.practice1.user.servlet.UserUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserUpdateServlet</servlet-name>
		<url-pattern>/UserUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DepartmentFindServlet</display-name>
		<servlet-name>DepartmentFindServlet</servlet-name>
		<servlet-class>com.practice1.department.servlet.DepartmentFindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepartmentFindServlet</servlet-name>
		<url-pattern>/DepartmentFindServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NoticeShowServlet</display-name>
		<servlet-name>NoticeShowServlet</servlet-name>
		<servlet-class>com.practice1.notice.servlet.NoticeShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeShowServlet</servlet-name>
		<url-pattern>/NoticeShowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NoticeAddServlet</display-name>
		<servlet-name>NoticeAddServlet</servlet-name>
		<servlet-class>com.practice1.notice.servlet.NoticeAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeAddServlet</servlet-name>
		<url-pattern>/NoticeAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NoticeDeleteServlet</display-name>
		<servlet-name>NoticeDeleteServlet</servlet-name>
		<servlet-class>com.practice1.notice.servlet.NoticeDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeDeleteServlet</servlet-name>
		<url-pattern>/NoticeDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NoticeEditServlet</display-name>
		<servlet-name>NoticeEditServlet</servlet-name>
		<servlet-class>com.practice1.notice.servlet.NoticeEditServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeEditServlet</servlet-name>
		<url-pattern>/NoticeEditServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NoticeUpdateServlet</display-name>
		<servlet-name>NoticeUpdateServlet</servlet-name>
		<servlet-class>com.practice1.notice.servlet.NoticeUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeUpdateServlet</servlet-name>
		<url-pattern>/NoticeUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NoticeFindServlet</display-name>
		<servlet-name>NoticeFindServlet</servlet-name>
		<servlet-class>com.practice1.notice.servlet.NoticeFindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeFindServlet</servlet-name>
		<url-pattern>/NoticeFindServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageGoAddServlet</display-name>
		<servlet-name>MessageGoAddServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageGoAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageGoAddServlet</servlet-name>
		<url-pattern>/MessageGoAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageAddServlet</display-name>
		<servlet-name>MessageAddServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageAddServlet</servlet-name>
		<url-pattern>/MessageAddServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageShowServlet</display-name>
		<servlet-name>MessageShowServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageShowServlet</servlet-name>
		<url-pattern>/MessageShowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageDeleteServlet</display-name>
		<servlet-name>MessageDeleteServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageDeleteServlet</servlet-name>
		<url-pattern>/MessageDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageFindServlet</display-name>
		<servlet-name>MessageFindServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageFindServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageFindServlet</servlet-name>
		<url-pattern>/MessageFindServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageOutboxServlet</display-name>
		<servlet-name>MessageOutboxServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageOutboxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageOutboxServlet</servlet-name>
		<url-pattern>/MessageOutboxServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageOutboxDeleteServlet</display-name>
		<servlet-name>MessageOutboxDeleteServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageOutboxDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageOutboxDeleteServlet</servlet-name>
		<url-pattern>/MessageOutboxDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageShowOneServlet</display-name>
		<servlet-name>MessageShowOneServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageShowOneServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageShowOneServlet</servlet-name>
		<url-pattern>/MessageShowOneServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageDraftShowServlet</display-name>
		<servlet-name>MessageDraftShowServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageDraftShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageDraftShowServlet</servlet-name>
		<url-pattern>/MessageDraftShowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageDraftDeleteServlet</display-name>
		<servlet-name>MessageDraftDeleteServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageDraftDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageDraftDeleteServlet</servlet-name>
		<url-pattern>/MessageDraftDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageDustbinShowServlet</display-name>
		<servlet-name>MessageDustbinShowServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageDustbinShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageDustbinShowServlet</servlet-name>
		<url-pattern>/MessageDustbinShowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageDustbinDeleteServlet</display-name>
		<servlet-name>MessageDustbinDeleteServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageDustbinDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageDustbinDeleteServlet</servlet-name>
		<url-pattern>/MessageDustbinDeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageDustbinRestoreServlet</display-name>
		<servlet-name>MessageDustbinRestoreServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageDustbinRestoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageDustbinRestoreServlet</servlet-name>
		<url-pattern>/MessageDustbinRestoreServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageOutboxUpdateServlet</display-name>
		<servlet-name>MessageOutboxUpdateServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageOutboxUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageOutboxUpdateServlet</servlet-name>
		<url-pattern>/MessageOutboxUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MessageOutboxUpdateOkServlet</display-name>
		<servlet-name>MessageOutboxUpdateOkServlet</servlet-name>
		<servlet-class>com.practice1.Message.servlet.MessageOutboxUpdateOkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessageOutboxUpdateOkServlet</servlet-name>
		<url-pattern>/MessageOutboxUpdateOkServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_care_Servlet</display-name>
		<servlet-name>Customer_care_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_care.servlet.Customer_care_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_care_Servlet</servlet-name>
		<url-pattern>/Customer_care_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_care_Delete_Servlet</display-name>
		<servlet-name>Customer_care_Delete_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_care.servlet.Customer_care_Delete_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_care_Delete_Servlet</servlet-name>
		<url-pattern>/Customer_care_Delete_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_care_Update_Servlet</display-name>
		<servlet-name>Customer_care_Update_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_care.servlet.Customer_care_Update_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_care_Update_Servlet</servlet-name>
		<url-pattern>/Customer_care_Update_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_care_Edit_Servlet</display-name>
		<servlet-name>Customer_care_Edit_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_care.servlet.Customer_care_Edit_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_care_Edit_Servlet</servlet-name>
		<url-pattern>/Customer_care_Edit_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_care_Add_Servlet</display-name>
		<servlet-name>Customer_care_Add_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_care.servlet.Customer_care_Add_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_care_Add_Servlet</servlet-name>
		<url-pattern>/Customer_care_Add_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_category_Show_Servlet</display-name>
		<servlet-name>Customer_category_Show_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_category.servlet.Customer_category_Show_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_category_Show_Servlet</servlet-name>
		<url-pattern>/Customer_category_Show_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_category_Add_Servlet</display-name>
		<servlet-name>Customer_category_Add_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_category.servlet.Customer_category_Add_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_category_Add_Servlet</servlet-name>
		<url-pattern>/Customer_category_Add_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_category_Delete_Servlet</display-name>
		<servlet-name>Customer_category_Delete_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_category.servlet.Customer_category_Delete_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_category_Delete_Servlet</servlet-name>
		<url-pattern>/Customer_category_Delete_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_category_Edit_Servlet</display-name>
		<servlet-name>Customer_category_Edit_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_category.servlet.Customer_category_Edit_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_category_Edit_Servlet</servlet-name>
		<url-pattern>/Customer_category_Edit_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_category_Update_Servlet</display-name>
		<servlet-name>Customer_category_Update_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_category.servlet.Customer_category_Update_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_category_Update_Servlet</servlet-name>
		<url-pattern>/Customer_category_Update_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_link_Servlet</display-name>
		<servlet-name>Customer_link_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_link.servlet.Customer_link_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_link_Servlet</servlet-name>
		<url-pattern>/Customer_link_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_link_Add_Servlet</display-name>
		<servlet-name>Customer_link_Add_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_link.servlet.Customer_link_Add_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_link_Add_Servlet</servlet-name>
		<url-pattern>/Customer_link_Add_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_link_Delete_Servlet</display-name>
		<servlet-name>Customer_link_Delete_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_link.servlet.Customer_link_Delete_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_link_Delete_Servlet</servlet-name>
		<url-pattern>/Customer_link_Delete_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_link_Update_Servlet</display-name>
		<servlet-name>Customer_link_Update_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_link.servlet.Customer_link_Update_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_link_Update_Servlet</servlet-name>
		<url-pattern>/Customer_link_Update_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_link_Edit_Servlet</display-name>
		<servlet-name>Customer_link_Edit_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_link.servlet.Customer_link_Edit_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_link_Edit_Servlet</servlet-name>
		<url-pattern>/Customer_link_Edit_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_source_Add_Servlet</display-name>
		<servlet-name>Customer_source_Add_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_source.servlet.Customer_source_Add_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_source_Add_Servlet</servlet-name>
		<url-pattern>/Customer_source_Add_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_source_Show_Servlet</display-name>
		<servlet-name>Customer_source_Show_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_source.servlet.Customer_source_Show_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_source_Show_Servlet</servlet-name>
		<url-pattern>/Customer_source_Show_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_source_Delete_Servlet</display-name>
		<servlet-name>Customer_source_Delete_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_source.servlet.Customer_source_Delete_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_source_Delete_Servlet</servlet-name>
		<url-pattern>/Customer_source_Delete_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_source_Edit_Servlet</display-name>
		<servlet-name>Customer_source_Edit_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_source.servlet.Customer_source_Edit_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_source_Edit_Servlet</servlet-name>
		<url-pattern>/Customer_source_Edit_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_source_Update_Servlet</display-name>
		<servlet-name>Customer_source_Update_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_source.servlet.Customer_source_Update_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_source_Update_Servlet</servlet-name>
		<url-pattern>/Customer_source_Update_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_state_Add_Servlet</display-name>
		<servlet-name>Customer_state_Add_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_state.servlet.Customer_state_Add_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_state_Add_Servlet</servlet-name>
		<url-pattern>/Customer_state_Add_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_state_Delete_Servlet</display-name>
		<servlet-name>Customer_state_Delete_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_state.servlet.Customer_state_Delete_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_state_Delete_Servlet</servlet-name>
		<url-pattern>/Customer_state_Delete_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_state_Edit_Servlet</display-name>
		<servlet-name>Customer_state_Edit_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_state.servlet.Customer_state_Edit_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_state_Edit_Servlet</servlet-name>
		<url-pattern>/Customer_state_Edit_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_state_Show_Servlet</display-name>
		<servlet-name>Customer_state_Show_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_state.servlet.Customer_state_Show_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_state_Show_Servlet</servlet-name>
		<url-pattern>/Customer_state_Show_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_state_Update_Servlet</display-name>
		<servlet-name>Customer_state_Update_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer_state.servlet.Customer_state_Update_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_state_Update_Servlet</servlet-name>
		<url-pattern>/Customer_state_Update_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_Add_Servlet</display-name>
		<servlet-name>Customer_Add_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer.servlet.Customer_Add_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_Add_Servlet</servlet-name>
		<url-pattern>/Customer_Add_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_Delete_Servlet</display-name>
		<servlet-name>Customer_Delete_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer.servlet.Customer_Delete_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_Delete_Servlet</servlet-name>
		<url-pattern>/Customer_Delete_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_Edit_Servlet</display-name>
		<servlet-name>Customer_Edit_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer.servlet.Customer_Edit_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_Edit_Servlet</servlet-name>
		<url-pattern>/Customer_Edit_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_Show_Servlet</display-name>
		<servlet-name>Customer_Show_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer.servlet.Customer_Show_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_Show_Servlet</servlet-name>
		<url-pattern>/Customer_Show_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Customer_Update_Servlet</display-name>
		<servlet-name>Customer_Update_Servlet</servlet-name>
		<servlet-class>com.practice1.Customer.servlet.Customer_Update_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Customer_Update_Servlet</servlet-name>
		<url-pattern>/Customer_Update_Servlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>NoticeShow_Show_Servlet</display-name>
		<servlet-name>NoticeShow_Show_Servlet</servlet-name>
		<servlet-class>com.practice1.notice.servlet.NoticeShow_Show_Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NoticeShow_Show_Servlet</servlet-name>
		<url-pattern>/NoticeShow_Show_Servlet</url-pattern>
	</servlet-mapping>
</web-app>